{% extends "recipes/base.html" %}

{% load static %}
{% load custom_tags %}

{% block description %}Welcome page{% endblock %}
{% block title %}Welcome to Word of Mouth{% endblock %}

{% block content %}
<div class="container-fluid frontpage-head">
    <div class="row frontpage-row">

        <div class="col-md-8">
            <h1>Word of Mouth</h1>
            <h4>Where you can get the latest bites.</h4>
            <br><br><br>
            <h4>Check out recipes others have posted, or log in to post some of your own!</h4>
            <h4>Have fun <em>forking</em> them and putting your own fresh spin on them, too!</h4>
            <br>
            <a class="nav-link" href="{% url 'recipes:recipelist' %}"><button type="button" class="btn btn-primary">See the List of Recipes</button></a>

        </div>
        <div class="col-md-4">
            <img class="title-image" src="{% static 'fork.png' %}" alt="A fork with spaghetti on it">
        </div>

    </div>

</div>


<div class="container top-recipes">
    <h2>Top Recipes</h2>
    <div class="row top-recipes-cards">

        {% for item in recipe_list %}
        <div class="col-md-4">
            <div class="card">
                <a href="{% url 'recipes:recipe' item.pk %}">
                    <img src="{% static ''%}{{ item.img }}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ item.recipe_title }}</h5>
                    <p class="card-text">
                        <a href="{% url 'recipes:recipe' item.pk %}">Get this recipe!</a>
                        <p>Favorited {{ item.num_favs }} time{{ item.num_favs | pluralize:",s" }}</p>
                    </p>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}