{% extends "recipes/base.html" %}

{% load static %}

{% block description %}Welcome page{% endblock %}
{% block title %}Welcome to Word of Mouth{% endblock %}

{% block content %}


<div class="container main">
    <div class="row banner">
        <h1>Word of Mouth</h1>
        <p>Where you can get the latest bites.</p>
    </div>
</div>

    <br>
<div class="container main">
    <h2>Top Recipes of the Week</h2>
    <div class="row">

    {% for item in recipe_list %}
        <div class="col-4">
            <div class="card">
                <a href="{% url 'recipes:recipe' item.pk %}">
                <img src="{% static ''%}{{ item.img }}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ item.recipe_title }}</h5>
                    <p class="card-text">
                        <a href="{% url 'recipes:recipe' item.pk %}">Get this recipe!</a>
                    </p>
                </div>
            </div>
        </div>

    {% endfor %}
    </div>
</div>


{% endblock %}