{% extends "recipes/base.html" %}

{% load static %}

{% block description %}Recipe information for {{ recipe.recipe_title }}{% endblock %}
{% block title %}{{ recipe.recipe_title }}{% endblock %}


{% block content %}

<div class="container main bg-light">
    <div class="row banner">
        <h1>{{ recipe.recipe_title }}</h1>
    </div>

    <div class="row">
    <!--        Block with the image-->
        <div class="col-4">
            {% if recipe.img %}
            <img src="{% static ''%}{{ recipe.img }}" class="recipe-img">
            {% endif %}
        </div>

    <!--        Block with the ingredients-->
        <div class="col-8 ingredients">
            <p>
                {% for element in recipe.recipe_ingredients %}
                {{ element }} <br>
                {% endfor %}
            </p>
        </div>
    </div>
    <hr>
    <!--        Ideally block with all the instructions goes here.-->
    <div class="row instructions">
        {{ recipe.recipe_instructions }}
    </div>
    <!--        And forks go here. -->
    <div class='col-12'>
        Forks:<br>
        {% for element in recipe.recipe_set.all %}
            <a href="{% url 'recipes:recipe' element.id %}">{{ element.recipe_title }}</a><br>
        {% endfor %}
    </div>
</div>

<p>
    <a href = "{% url 'recipes:forkrecipe' recipe.id %}">fork recipe</a>
</p>

{% endblock %}