{% extends "recipes/base.html" %}

{% load static %}
{% load custom_tags %}

{% block description %}Recipe information for {{ recipe.recipe_title }}{% endblock %}
{% block title %}{{ recipe.recipe_title }}{% endblock %}


{% block content %}

<div class="container main bg-light">
    <div class="row banner">
        <div class="col-9">
            <h1>{{ recipe.recipe_title }}</h1>
            {% if recipe.parent %}
            <h5>Forked from <a href="{% url 'recipes:recipe' recipe.parent.id %}">{{ recipe.parent.recipe_title }}</a></h5>
            {% endif %}
        </div>

        <div class="col-3">
<!--            Favorites Button-->
            <div class="row">
                <div class="favorites-form">
                    {% if user.is_authenticated %}
                    <form action="{% url 'recipes:favorite' recipe.id user.id %}" method='POST' id="favorites-btn">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">

                        {% if user in user_set %}
                        <a href="#" onclick="document.getElementById('favorites-btn').submit();">
                            <i class="fas fa-heart js-heart heart active" id="heart"></i></a>
                        Remove from favorites
                        {% else %}
                        <a href="#" onclick="document.getElementById('favorites-btn').submit();">
                            <i class="far fa-heart js-heart heart inactive" id="heart"></i></a>
                        Add to favorites
                        {% endif %}
                    </form>
                    {% endif %}
                </div>
            </div>

<!--            Top Forking Button-->
            <div class="row top-fork-button">
                <span><a href="{% url 'recipes:forkrecipe' recipe.id %}"><button type="button" class="btn btn-primary">
                    <i class="fa fa-utensils"></i></i> Fork Recipe</button></a>
                </span>
            </div>


        </div>

    </div>
    <div class="row">

    </div>

    <div class="row">
    <!--        Block with the image-->
        <div class="col-4">
            {% if recipe.img %}
            <img src="{% static ''%}{{ recipe.img }}" class="recipe-img">
            {% endif %}
        </div>

    <!--        Block with the ingredients-->
        <div class="col-8 ingredients">
            <h3>Ingredients</h3>
            <ul>
                {% string_to_list recipe.recipe_ingredients as ingredients %}
                {% for element in ingredients %}

                <li>{{ element }} </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr>

    <!--        Ideally block with all the instructions goes here.-->
    <div class="row instructions">
        <h3>Instructions</h3>
         <ol>
            {% string_to_list recipe.recipe_instructions as instructions %}
            {% for element in instructions %}

            <li>{{ element }} </li>
            <br>
            {% endfor %}
        </ol>
    </div>
    <hr>

    <!--        And forks go here. -->
    <div class="row list-of-forks">
        <div class="col-2">
            <h5>Add your own twist:</h5>
            <a href="{% url 'recipes:forkrecipe' recipe.id %}"><button type="button" class="btn btn-primary"><i class="fa fa-utensils"></i></i> Fork Recipe</button></a>
        </div>
        <div class="col-10">
            {% if recipe.recipe_set.all %}
                Forks others have made:<br>
                <ul>
                {% for element in recipe.recipe_set.all %}
                    <li><a href="{% url 'recipes:recipe' element.id %}">{{ element.recipe_title }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

<hr class="comments-hr">

<div class="container bg-light comments">
    <div class="row comments-posted text-center">
        {% load comments %}
        <p>
        {% get_comment_count for object as comment_count %}
            {{ comment_count }} comment{{ comment_count|pluralize }}
            ha{{ comment_count|pluralize:"s,ve" }} been posted.
        </p>
    </div>

    {% if comment_count %}
    <div class="comment-list">
      {% render_comment_list for object %}
    </div>
    {% endif %}
    <div class="card card-block mb-5 comment-submission">
      <div class="card-body">
        <h4 class="card-title text-center pb-3">Post your comment</h4>
          {% render_comment_form for object %}
      </div>
    </div>
</div>


{% endblock %}

