{% extends "recipes/base.html" %}

{% load static %}
{% load custom_tags %}

{% block description %}Recipe information for {{ recipe.recipe_title }}{% endblock %}
{% block title %}{{ recipe.recipe_title }}{% endblock %}


{% block content %}

<div class="container main bg-light">
    <div class="row banner">
        <h1>{{ recipe.recipe_title }}</h1>
        {% if recipe.parent %}
            <h5>Forked from <a href="{% url 'recipes:recipe' recipe.parent.id %}">{{ recipe.parent.recipe_title }}</a></h5>
        {% endif %}

    </div>
    <div class="row">

    </div>

    <div class="row">
    <!--        Block with the image-->
        <div class="col-4">
            {% if recipe.img %}
            <img src="{% static ''%}{{ recipe.img }}" class="recipe-img">
            {% endif %}
        </div>

    <!--        Block with the ingredients-->
        <div class="col-8 ingredients">
            <h3>Ingredients</h3>
            <ul>
                {% string_to_list recipe.recipe_ingredients as ingredients %}
                {% for element in ingredients %}

                <li>{{ element }} </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr>

    <!--        Ideally block with all the instructions goes here.-->
    <div class="row instructions">
        <h3>Instructions</h3>
        <ol>
            {% string_to_list recipe.recipe_instructions as instructions %}
            {% for element in instructions %}

            <li>{{ element }} </li>
            <br>
            {% endfor %}
        </ol>
    </div>
    <hr>

    <!--        And forks go here. -->
    <div class="row list-of-forks">
        <a href = "{% url 'recipes:forkrecipe' recipe.id %}">Fork recipe</a>
        {% if recipe.recipe_set.all %}
            Forks:<br>
            {% for element in recipe.recipe_set.all %}
                <a href="{% url 'recipes:recipe' element.id %}">{{ element.recipe_title }}</a><br>
            {% endfor %}
        {% endif %}
    </div>
</div>



{% endblock %}

{% load comments %}
{% get_comment_count for object as comment_count %}
<div class="py-4 text-center">
  &nbsp;&sdot;&nbsp;
  {{ comment_count }} comment{{ comment_count|pluralize }}
  ha{{ comment_count|pluralize:"s,ve" }} been posted.
</div>
{% if comment_count %}
<hr/>
<div class="comments">
  {% render_comment_list for object %}
</div>
{% endif %}
<div class="card card-block mb-5">
  <div class="card-body">
    <h4 class="card-title text-center pb-3">Post your comment</h4>
      {% render_comment_form for object %}
  </div>
</div>