{% extends "recipes/base.html" %}

{% load static %}

{% block description %}Add a recipe{% endblock %}
{% block title %}Add a recipe{% endblock %}


{% block content %}

<div class="container main bg-light">
    <div class="row banner">
        <h1>Submit a New Recipe</h1>
    </div>

    <div class="row">
        <div class="col-6 recipe-submission">
            <form action="{% url 'recipes:recipeform' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

</div>


{% endblock %}