h1 {
    font-weight: 700;
    font-size: 4rem;
}

h5 {
    font-weight: 200;
    font-size: 1rem;
}

.recipe-link {
    text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main {
    border-radius: 15px;
    padding: 0 1% 2% 1%;
}

.frontpage-head {
    padding: 0 1% 9% 1%;
    background-color: #772953;
    color: white;
    text-align: center;
}

.frontpage-head h1 {
    font-size: 6.5rem;
}

.frontpage-row {
    padding: 0% 15% 0% 15%;
}

.title-image {
    width: 15%;
    transform: rotate(10deg); /* Equal to rotateZ(45deg) */
    position: absolute;
    z-index: 1;
}

.top-recipes {
    margin-top: 50px;
    background-color: #c8a9ba;
    position:  relative;
    z-index: 2;
    border-radius: 15px;
}

.top-recipes h2 {
    padding: 1% 1% 1% 1%;
}

.top-recipes-cards {
    background-color: #e3d4dc;
    border-radius: 0 0 15px 15px;
    padding: 0 0 2% 0;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}

.banner {
    text-align: center;
    padding: 2% 5% 0 5%;
    margin: 40px 0 10px 0;
    border-radius: 15px
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Recipe List Elements */

.recipe-list-main {

}

.recipe-list-row {
    border: 2px;
    border-color: black;
    height: 100px;
}

.recipe-list-img {
    max-height: 100%;
}




/*RECIPE FORM ELEMENTS */
.favorites-form {
    padding: 2% 4% 5% 4%;
}

.top-fork-button {
    padding: 1%;
}

.recipe-img {
    max-width: 100%;
    margin: 2% 4% 0% 4%;
}

.ingredients {
    padding: 2% 4% 0% 4%;
    }

.instructions {
    padding: 2% 4% 0% 4%;
}

.list-of-forks {
    padding: 2% 4% 0% 4%;
}

.list-of-forks ul {
     list-style-type: square;
     list-style-position: inside;
     margin: 0;
     padding: 0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.far {

}

.fas {
	color: red;
}

.heart {
	cursor: pointer;
	font-size: 24px;
}

.comments-hr {
    border-top: 7px dotted gray;
    opacity: 100%;
    background-color: #FFF;
    width: 10%;
    margin: 30px auto 0 auto;
}

.comments {
    margin-top: 30px;
    border-radius: 15px;
    padding: 1% 2% 0.5% 2%;
    margin-bottom: 20px;
}

.comments-posted {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.comments-posted .btn-secondary {
    display: none;
}

/*RECIPE SUBMISSION FORM PAGE ELEMENTS */
.recipe-submission {
    padding: 2% 4% 0% 4%;
}

/*Fancy recipe list*/
.recipe-list {
    padding: 1% 5% 1% 5%;
}

.recipe-list-container {
    /*display: grid;*/
    place-items: center;
    box-sizing: border-box;
    background-color: #ffffff;
    position: relative;
    /*display: grid;*/
    grid-template-columns: 300px 600px;
    border-radius: 5px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    margin: 40px 100px 40px 100px;
}

.recipe-list-container img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.recipe-list-container .btn {
    position: absolute;
    bottom: -20px;
    right: -20px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    background-color: #e95420;
    color: #ffffff;
    padding: 22px 45px;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
}

.recipe-list-container .btn i {
    margin-left: 20px;
    font-size: 1.5rem;
}

.container__text {
    padding: 40px 40px 0;
}
.container__text h2 {
    color: black;
    font-weight: 400;
}
.container__text .container__text__star span {
    font-size: 0.8rem;
    color: #ffa800;
    margin: -5px 0 20px;
}
.container__text p {
    font-size: 0.9rem;
}
.container__text .container__text__timing {
    display: flex;
    margin: 20px 0 10px;
}
.container__text .container__text__timing .container__text__timing_time {
    margin-right: 40px;
    }
.container__text .container__text__timing h2 {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 400;
    color: #818189;
}

.container__text .container__text__timing p {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

/*Resizes and gets rid of the fork on smaller screens*/
@media (max-width:  1028px) {
    .title-image {
        width: 0%;
        position: static;
    }

    .frontpage-head h1 {
        font-size: 4rem;
    }

    .recipe-list {
        padding: 0%;
    }

    .recipe-list-container {
        margin: 40px 0px 40px 0px;
    }

}