h1 {
	font-weight: 700;
	font-size: 4rem;
}

h5 {
    font-weight: 200;
    font-size: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main {
	border-radius: 15px;
	padding: 0 0 3% 0;
}

.banner {
    text-align: center;
	padding: 2% 5% 0 5%;
	margin: 40px 0 10px 0;
	border-radius: 15px
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*RECIPE FORM ELEMENTS */
.recipe-img {
    max-width: 100%;
    margin: 2% 4% 0% 4%;
}

.ingredients {
    padding: 2% 4% 0% 4%;
    }

.instructions {
    padding: 2% 4% 0% 4%;
}

.list-of-forks {
    padding: 2% 4% 0% 4%;
}

/*RECIPE SUBMISSION FORM PAGE ELEMENTS */
.recipe-submission {
    padding: 2% 4% 0% 4%;
}


